APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomKey!!!
APP_SALT=SomeDifferentRandomKey!!!

KEY_VALID_FOR=ANumberOfMinutes
VOTE_VALID_FOR=ANumberOfSeconds

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=memcached
QUEUE_DRIVER=sync
