/* Credit for keeping footer down: Joss (http: //www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/) */
html, body {
	background: #F1F1F1;
	color: #2F2F2F;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 99%;
	position: relative;
}
#header {
	padding: 10px;
}

h1, p {
	text-align: center;
	margin: 0.1em;
}

#content {
	padding-bottom: 3em;
	margin: 0em auto;
	overflow: auto;
	display: block;
	text-align: center;
	max-width: 90%;
}

#votes-chart {
	height: 310px;
}

#votes-chart span.ct-horizontal {
	margin-top: 5px;
	margin-left: -27px;
}

#footer {
	width: 100%;
	height: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
}

#footer p {
	margin: 0px;
}

#activity-indicator:not(.active) {
	opacity: 0;
}

#votes-chart-wrap {
	position: relative;
}

#votes-chart {
	overflow: hidden;
}

#activity-indicator {
	opacity: 1;
	position: absolute;
	top: 20px;
	right: calc(50% - 40pt);
	color: white;
	background-color: #CB0004;
	transition: opacity .10s ease-in-out;
   -moz-transition: opacity .10s ease-in-out;
   -webkit-transition: opacity .10s ease-in-out;
	padding: 0px 7px;
	z-index: 10;
}

#voting-stats {
	position: absolute;
	top: 20px;
	right: 30px;
	z-index: 10;
}

#voting-stats > span {
	float: right;
}

#approve-stat {
	color: #02D706;
}

#disapprove-stat {
	color: #D70206;
}

#chart-loading {
	margin-top: 100px;
}
